<!--Grevendonk Tim r0831309-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="img/style.css">
    <title>error</title>
</head>
<body class="container">
<h1 class="text-danger m-3">something went wrong!</h1>
<!--shows an error message if given one, blank otherwise-->
<h2 class="text-center" th:text="${errormessage}"></h2>

<p class="mb-0"><a href="/" class="p-1 bg-info text-dark row">back to main page</a></p>
</body>
</html>
